body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}

.board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 3px;
    justify-content: center;
}

.square {
    border: solid black;
}

.red {
    background: red;
}

.blue {
    background: blue;
}